.spacer{
  flex: 1 1 auto;
}


.btn-dark{
  all: unset;
  color: white;
  border: 1px solid white;
  padding: 5px 50px;
  font-weight: 500;
  border-radius: 20px;
}
.btn-dark:hover{
  background-color: whitesmoke;
  color: black;
}
.header-blur{
  opacity: 0.8;
  backdrop-filter: blur(5px) !important;
  background-color: rgba(11, 19, 48, 0.7) !important;
}
.header-nav{
  background-image: linear-gradient(to right, #3d224e, #0e173b);
}
.layout-body{
  margin-top: 70px;
}
.banner{
  height: calc(100vh - 70px) !important;
  background-image: linear-gradient(to right, #3d224e, #0e173b);
}
.banner-cont{
  height: 100%;

}
.banner-row{
  height: 100%;
}
.banner .left{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner .right{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.right img{
  height: 100%;
}

.left h1,p{
  color: whitesmoke;
}
.left p{
  font-size: 1.2rem;
}

.big{
  font-size: 3.5rem;
}

.btn-light{
  all: unset;
  color: black;
  border: 1px solid white;
  padding: 5px 50px;
  font-weight: 500;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}
.howtomint{
  background-color: #1a1138;
}

.mint-cont{
  color: whitesmoke;
  padding: 90px 0px;
}

.easy-step{
  text-transform: uppercase;
  font-weight: 700;
  color: #33b7fe;
}

.big-b{
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}
.mint-steps{
  margin-top: 50px ;
}
.mint-step{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mint-step span{
  font-size: 40px;
  padding: 0px;
  line-height: 2.3rem;
  padding-left: 15px;
  font-weight: 700;
}
.mint-root{
  padding: 90px 0px;
}
.mintHead{
  text-align: center;
}
.mint-box{
  border: 1px solid rgb(202, 201, 201);
  margin-top: 40px;
  border-radius: 8px;
}
.m-left{
  padding: 16px;
  
}
.t-mints{
  margin-bottom: 30px;
}
.m-left img{
  width: 100%;
}
.m-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m-right-cont{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.m-right-cont div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m-right-cont p img{
  margin-right: 15px;
}

.m-price{
  margin-top: 15px;
  color: black;
  font-size: 1.5rem;
}

.m-select{
  border: 1px solid rgb(202, 201, 201);
  margin-top: 30px;
  border-radius: 8px;
}

.m-spinner{
  padding: 16px
}

.m-spinner button{
  all: unset;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  background-color: #321b41;
  cursor: pointer;
}
.m-spinner span{
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 2rem;
}

.m-spinner button:hover{
  opacity: .7;
}

.m-total{
  border-top:  1px solid rgb(202, 201, 201);
  border-bottom: 1px solid rgb(202, 201, 201);
  margin-top: 30px;
  padding: 20px 16px;
}
.total-col{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.total-col div{
  width: 100%;
}

.total-col div h3{
  margin: 0px;
}
.total-col div h3 img{
  margin-left: 8px;
  width: 35px;
}

.total-col div h5 img{
  margin-left: 8px;
  width: 25px;
}

.btn-col{
  width: 100%;
}

.btn-col button{
  margin-top: 30px;
  width: 100%;
}

.link-btn{
  all: unset;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, #3d224e, #0e173b);
  padding: 10px;
  border-radius: 15px;
  color: whitesmoke;
  font-weight: 500;
}
.link-btn:hover{
  opacity: 0.9;
}

.footer{
  width: 100%;
}
.socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 150px !important;
  margin-bottom: 40px;
}

.socials img{
  width: 2vw;
}

.modal-header{
  border-bottom: none;
}
.modal-footer{
  border-top: none;
  justify-content: center;
}
.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  color: black
}
.modal-body p{
  color: black;
  margin: 0px;
  margin-top: 20px;

}

.modal-body a{
  color: #7e2977;
  font-weight: 600;
}
.modal-body img {
  width: 100px;
}
.modal-body h2{
  color: #7e2977;
  margin-top: 20px;
}

.modal-footer button{
  all: unset;
  margin-bottom: 10px;
  width: 110px;
  background-color: #7e2977;
  text-align: center;
  padding: 8px;
  border-radius: 15px;
  color: whitesmoke;
  font-weight: 500;
  margin: 10px 8px;
  cursor: pointer;
}